<!doctype html>
<html>
    <head>
        <title>Blog - {% block title %}{% endblock %}</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        
        <!-- Custom styled -->
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <!-- Jquery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Blog</a>
                </div>
                {% if g.user %}
                <div class="nav navbar-nav navbar-right">
                    <li><a href="/#">Create Post</a></li>
                    <li><a href="{{url_for('auth.logout')}}">Logout</a></li>
                </div>
                {% else %}
                <div class="nav navbar-nav navbar-right">
                    <li><a href="{{url_for('auth.login')}}">Login</a></li>
                    <li><a href="{{url_for('auth.register')}}">Register</a></li>
                </div>
                {% endif %}
            </div>
        </nav>
        
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="alert alert-danger">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
        {% block content %}{% endblock %}
    <body>
</html>