{% extends 'base.html' %}

{% block title %}edit page{% endblock %}

{% block content %}
    <div class="container">
        <form class="small-form" method="POST">
            <h2>Edit post</h2>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="title" class="form-control" value="{{post.title}}"/>
            </div>
            <div class="form-group">
                <label for="body">Body</label>
                <textarea rows="10" cols="30" name="body" class="form-control">{{post.body}}</textarea>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
{% endblock %}