{% extends 'base.html' %}

{% block title %}register page{% endblock %}

{% block content %}
    <div class="container">
        
        <form class="small-form" method="post">
            <h3>Register</h3>
            <div class="form-group">
                <label for="username">Username</label>
                <input class="form-control" type="text" id="username" name="username"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" type="password" id="password" name="password"/>
            </div>
            <div class="form-group">
                <label for="password2">Confirm password</label>
                <input class="form-control" type="password" id="password2" name="password2"/>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
{% endblock %}